html {
	min-width: 100vw;
    min-height: 100vh;
	background-color: #e7e9f6;
	font-family: 'MavenPro', sans-serif;
}

body {
    margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

p {
    margin: 0 0 5px 0;;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.headerBlock {
	height: auto;
    max-width: 1440px;
	background: url(img/top-banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	background-position: center;
	flex-direction: column;
}

.shadowContainer {
	background-color: rgba(0,0,100,0.3);
	height: 100%;
	padding:30px 30px 0;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logoBlock {
	display: flex;
	align-items: center;
}


.headerButton {
	padding: 15px;
	border: 2px solid #fff;
	border-radius: 10px;
	margin: 0 5px
}

.headerButton a {
	font-size: 16px;
	font-weight: 700;
}

.logo {
    margin-right: 10px;
}

.logotext {
   margin-right: 25px;
}

.menuList {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.authorizationMenu {
	padding: 25px;
}

.wrapper {
    display: none;
    width: 120px;
    position: relative;
    height: 40px;
}

#check_menu {
    display: none;
}

label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
    color: #fff;
    padding-left: 25px;
}

.burger_line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: 0.5s all;
}

.second, .third {
    top:18px;
}
.fourth {
    top: 28px;
}

.main_menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s all;
}

.wrapper a {
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
    border-top: 1px solid rgba(255,255,255,0.3);
}

#check_menu:checked ~ .main_menu {
    max-height: 500px;
    font-size: 16px;
}

#check_menu:checked ~ .first {
    display: none;
}

#check_menu:checked ~ .second {
   transform: rotate(45deg);
}

#check_menu:checked ~ .third {
    transform: rotate(-45deg);
}

#check_menu:checked ~ .fourth {
    display: none;
}


.contentBlock {
	display: flex;
	justify-content: center;
	margin-top: 135px;
    margin-bottom: 155px;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
	text-align: center;
}

.firstLine {
	font-size: 550%;
	color: #8ae2e2;	
}

.secondLine {
	font-size: 320%;
	color: #fff;
}

.thirdLine {
	font-size: 170%;
	color: #fff;
	font-weight: lighter;
    padding: 60px 20px 0 20px;
}

.colortext {
	color: #8ae2e2;
}

.fourthLine {
	text-align: center;
	font-size: 150%;
	color: #fff;
	font-weight: lighter;
}

.findButton {
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 50px;
	height: 70px;
	width: 275px;
	background-color: #ff5151;
	border-radius: 8px;
}

.serviceName {
	height: 100%;
	width: 100%;
	display: flex;
	text-align: center;
	color: #1a3844;
	flex-direction: column;
	background-color: #fff;
}

.hatShape {
	height: 100%;
	width: 100%;
	background-color: #eff7f7;
	line-height: 80px;
	font-weight: bold;
}

.want_text {
    padding: 0 40px;
}

.phraseText {
	color: #8ae2e2;
	text-decoration: underline;
}

.headingLine {
	margin-top: 105px;
	font-weight: bolder;
	font-size: 200%;
}

.serviceMenu {
	display: flex;
	align-items: baseline;
    margin: 70px 25px 140px 25px;
	justify-content: center;
    flex-wrap: wrap;
}

.careGiver {
	display: flex;
	flex-direction: column;
    align-items: stretch;
	font-weight: bold;
    margin: 10px 20px;
}

.infoLogo {
	padding-top: 45px;
	font-size: 130%;	
}

.description {
    margin-top: 25px;
}

.work-process{
	height: 740px;
	width: 100%;
	background: url(img/3-page.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.stepOrder {
	background-color: #66cfcf;
	display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
	color: #fff;
	flex-direction: row;
    max-width: 1440px;
    height: 100%;
}

.appealBlock {
	display: flex;
	flex-direction: column;
	align-items: start;
    margin: 180px 60px 0 60px;
}

.taglineSite {
	font-size: 500%;
	font-weight: bolder;
}

.startButton {
	padding: 25px 50px;
	border: 2px solid #fff;
	border-radius: 8px;
	margin: 60px 70px;
}

.stepWay {
	display: flex;
	flex-direction: column;
	font-size: 90%;
    margin-top: 110px;
    margin-left: 70px;
}

.search_block {
    display: flex;
    position: relative;
    z-index: 50;
    max-width: 560px;
}

.loupe_block {
    border: 2px dotted #fff;
    padding: 10px;
    margin-right: 35px;
    border-radius: 50%;
}

.search_text {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.search_arrow {
    padding-top: 10px;
    margin-right: -50px;
}

.select_block {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 40;
    top: -50px;
    right: 80px;
    max-width: 550px;
}

.select_text {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-right: 35px;
    line-height: 1.5;
}

.select_arrow {
    padding-top: 10px;
    margin-left: -20px;
}

.pointer_block {
    border: 2px dotted #fff ;
	border-radius: 50%;
    padding: 10px;
}

.test_block {
    display: flex;
    max-width: 560px;
    position: relative;
    z-index: 30;
    top: -100px;
    left: 20px;
    bottom: 0;
    right: 0;

}

.test_text {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.sandclock {
    border: 2px dotted #fff;
    padding: 10px;
    margin-right: 20px;
    border-radius: 50%;
}

.test_arrow {
    position: relative;
    z-index: 25;
    right: -30px;
}

.pay_block {
    display: flex;
    max-width: 300px;
    position: relative;
    z-index: 24;
    top: -150px;
    right: -170px;
    line-height: 1.5;
}

.pay_text {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-right: 20px;
}

.pay_img {
    display: inline;
}



.moneyicon {
    border: 2px dotted #fff ;
	border-radius: 50%;
    padding: 10px;
}

.heartHand {
	height: 740px;
	width: 100%;
	background: url(img/5-page.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.reviewsPage {
	height: 100%;
    width: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}

.questionPart {
	color: #0b2a37;
	font-size: 30px;
	font-weight: bolder;
	display: flex;
	justify-content: center;
    margin: 100px 10px 70px 10px;
    text-align: center;
}

.customerReviews_top {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    margin: 20px 35px 0 35px;
    flex-wrap: wrap;
}

.customerReviews_bottom {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
    margin: 0 35px 85px 35px;
    flex-wrap: wrap;
}

.firstReview {
	display: flex;
	flex-direction: column;
    margin-bottom: 20px;
}

.infoBlock {
    max-width: 370px;
    height: 130px;
    background-color: #eff7f7;
    font-size: 15px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-align: justify;
    line-height: 20px;
}

.text-align {
    display: flex;
    align-items: ce;
    justify-content: center;
}

.userBlock {
	text-align: right;
	margin-top: 25px;
}

.customerPhoto1 {
	float: right;
	margin-left: 10px;
}

.lastImg {
	height: 540px;
	width: 100%;
	background: url(img/7-page.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	background-position: center;
}

.commentPage {
	height: 100%;
	width: 100%;
	background: url(img/8-page.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	background-position: center;
	justify-content: center;
	align-items: center;
	color: #fff;
    flex-wrap: wrap;

}

.lineDivide {
	width: 50px;
	height: 2px;
	background-color: #8ae2e2;
    margin-bottom: 5px;
}

.sentencePart {
	display: flex;
	flex-direction: column;
	margin-top: 160px;
	margin-left: 105px;
    margin-bottom: 170px;
    line-height: 1.3;
}

.textindent {
    margin-bottom: 35px;
}

.appealBlock_second {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    margin-bottom: 295px;
    margin-left: 105px;
}

.taglineSite_second {
	font-size: 500%;
    font-weight: bolder;
    margin-top: 280px
}

.startButton2 {
	padding: 25px 50px;
	border: 2px solid #fff;
	border-radius: 8px;
	margin-top: 100px;
}

.contactPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 220px;
	width: 100%;
	background-color:#fff;
}

.headerPart {
	font-size: 30px;
    margin-top: 50px;
}

.contactButton {
	background-color: #ff6262;
	border-radius: 8px;
	padding: 15px 20px 15px 20px;
    margin-bottom: 40px;
}

.footer {
	height: 100%;
	width: 100%;
	background-color: #0b2a37;
	display: flex;
    flex-direction: row;
	justify-content: center;
	color: #fff;
	align-items: flex-start;
    flex-wrap: wrap-reverse;
}

.infoFooter{
	margin-left: 105px;
	margin-right: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contactInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
    margin: 0px 20px 95px 105px;
}

.followUs {
	display: flex;
	align-items: center;
	margin-top: 35px;
}

.appealMessage {
	padding-right: 5px;
}

.infoIcon {
	padding: 0 5px 0 5px;
}

.signSite {
	color: #a5abae;
}

.findBlock {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
    margin-top: 90px;
    margin-bottom: 95px;
    margin-left: 105px;
    flex-wrap: wrap;
}

.selfInfo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 95px;
	line-height: 30px;
    padding-top: 20px;
}

@media (max-width:1400px) {
    .stepWay {
        margin-top: 0;
    }

    .appealBlock {
        margin-right: 0;
        margin-top: 100px;
    }
    
    .stepOrder {
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width:1240px) {
    .findBlock {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (max-width:1200px) {
    .commentPage {
        flex-direction: column;
    }
    .sentencePart {
        margin-bottom: 0;
    }

    .taglineSite_second {
        margin-top: 50px;
    }

    .appealBlock_second {
        margin-bottom: 100px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width:1024px) {
    .headerButton {
        display: none;
    }

    .authorizationMenu {
        display: none;
    }

    .wrapper {
        display: block;
    }

    .firstLine {
        font-size: 7vw;
    }

    .secondLine {
        font-size: 4vw;
    }

    .thirdLine {
        font-size: 4vw;
    }

    .fourthLine {
        font-size: 3vw;
    }
}

@media (max-width:871px) {
    .footer {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .contactInfo {
        margin-left: 0;
        margin-right: 0;
        align-items: center;
    }

    .findBlock {
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

    .selfInfo {
        padding-right: 0;
        padding-top: 0;
        align-items: center;
        text-align: center;
    }

    .
}

@media (max-width:820px) {
    .stepWay {
        align-items: center;
        margin-left:0 ;
    }

    .search_arrow,
    .select_arrow,
    .test_arrow {
        display: none;
    }

    .search_block,
    .select_block,
    .test_block, 
    .pay_block {
        max-width: 275px;
        position: inherit;
        padding-top: 20px;
    }

    .select_block,
    .pay_block {
        flex-wrap: wrap-reverse;
    }

    .loupe_block {
        margin-right: 20px;
    }

    .select_text,
    .pay_text {
        text-align: start;
    }

    .pay_img,
    .select_img {
        margin-right: 20px;
        display: flex;
    }

    .pay_block {
        margin-bottom: 50px;
    }

    .search_block,
    .test_block {
        display: block;
    }
}

@media (max-width:700px) {
    .appealBlock {
        margin-left: 0;
        align-items: center;
    }

    .taglineSite {
        font-size: 10vw;
        text-align: center;
        margin:0;
    }

    .startButton {
        margin: 30px 35px;
        padding: 5vw 5vw;
    }

    .logotext {
        display: none;
    }

    .sentencePart {
        margin-left: 30px;
        margin-top: 100px;
        margin-right: 30px;
    }
}

@media (max-width:400px) {
    .contactPage {
        text-align: center;
    }
}